.body {
    max-width: 1200px;
    margin: auto;
}

.closer {
    display: block;
}
.leftCloser {
    max-width: 100%;
}
.rightCloser{
    max-width: 100%;
}
@media screen and (min-width: 700px) {
    .closer {
        display: flex;
    }
    .leftCloser {
        max-width: 70%;
    }
    .rightCloser {
        max-width: 70%;
    }
}